
.input-form{
display: flex;
/* justify-content: center; */
border: 5px solid black;
height: auto;
    width: 100vw;

}
.uplode-image-div{

}
.uplode-image{

}
.uplode-title{
width: 35%;
}
.chakra-textarea{
height: 150px;
}
.uplode-text{
    padding: 20px 40px 20px 40px;
    width: 70%;
}